<!DOCTYPE html>
<html lang="en">

<head>
    <title>Criar sala</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--View Port-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/room.css">
    <link rel="stylesheet" href="/styles/modal.css">

    <!--FONTES-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- SCRIPT -->
    <script src="/scripts/main.js" defer type="module"></script>
</head>

<body>
    <div id="room" class="content">
        <header>
            <a href="/">
                <img src="/imagens/logo.svg" alt=" Rocket.Q Logo">
            </a>
            <div class="buttons">
                <div class="button outlined" id="room-id" data-id="<%= roomId %>">
                    #<%= roomId %>
                        <img src="/imagens/copy.svg" alt="Copiar número da sala">
                </div>
                <a href="#" class="button">
                    <img src="/imagens/users2.svg" alt="Criar uma sala">
                    Criar sala
                </a>
            </div>
        </header>

        <main>
            <h2>Faça sua pergunta</h2>
            <section id="question-form">
                <form action="">
                    <label for="sr-only" for-id="question"></label>
                    <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>

                    <footer>
                        <div>
                            <img src="/imagens/lock.svg" alt="Cadeado">
                            Está pergunta é anônima
                        </div>
                        <button>Enviar</button>
                    </footer>
                </form>
            </section>

            <section id="questions">
                <h2 class="sr-only">Perguntas da comunidade</h2>
                <div class="questions">

                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="/imagens/user1.svg" alt="Avatar">
                            </div>
                            <div class="question">
                                <p>Qual a diferença de const, var e let no JavaScript?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="check" data-id="2">
                                <img src="/imagens/check1.svg" alt="Marcar como lida">
                                Marcar como lida
                            </a>
                            <a href="#" class="delete" data-id="2">
                                <img src="/imagens/trash1.svg" alt="Excluir">
                                Excluir
                            </a>
                        </div>
                    </div>

                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="/imagens/user1.svg" alt="Avatar">
                            </div>
                            <div class="question">
                                <p>O que é JavaScript?</p>
                            </div>
                        </div>

                        <div class="actions">
                            <a href="#" class="check" data-id="3">
                                <img src="/imagens/check1.svg" alt="Marcar como lida">
                                Marcar como lida
                            </a>
                            <a href="#" class="delete" data-id="3">
                                <img src="/imagens/trash1.svg" alt="Excluir">
                                Excluir
                            </a>
                        </div>
                    </div>

                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="/imagens/user1.svg" alt="Avatar">
                            </div>
                            <div class="question">
                                <p>O que é HTML?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="check" data-id="3">
                                <img src="/imagens/check1.svg" alt="Marcar como lida">
                                Marcar como lida
                            </a>
                            <a href="#" class="delete" data-id="3">
                                <img src="/imagens/trash1.svg" alt="Excluir">
                                Excluir
                            </a>
                        </div>
                    </div>

                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="/imagens/user1.svg" alt="Avatar">
                            </div>
                            <div class="question">
                                <p>O que é CSS?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="check" data-id="4">
                                <img src="/imagens/check1.svg" alt="Marcar como lida">
                                Marcar como lida
                            </a>
                            <a href="#" class="delete" data-id="4">
                                <img src="/imagens/trash1.svg" alt="Excluir">
                                Excluir
                            </a>
                        </div>
                    </div>

                    <div class="question-wrapper read">
                        <div class="question-content">
                            <div class="user">
                                <img src="/imagens/user1.svg" alt="Avatar">
                            </div>
                            <div class="question">
                                <p>O que é TypeScript?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="delete" data-id="1"></a>
                            <img src="/imagens/trash1.svg" alt="Excluir">
                            Excluir
                            </a>
                        </div>
                    </div>

                </div>
            </section>
        </main>
    </div>

    <!--MODAL-->
    <div class="modal-wrapper">
        <div class="modal">
            <h2>Excluir pergunta</h2>
            <p>Tem certeza que você deseja exluir está pergunta?</p>

            <form action="#" method="POST">
                <label class="sr.only" for id="password"></label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha">

                <div class="buttons">
                    <div class="button grey cancel">Cancelar</div>
                    <button class="red">Sim, excluir</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>